*
{
    box-sizing: border-box;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
}

.container
{
    height: 100vh;
}

/* ........header start........ */

.header{
    height: 500px;
    width: 100%;
    background-image: url(images/universe-1566161.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar
{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.navbar a img
{
    height: 60px;
    width: 100px;
    transform: translate(30px, 10px);
    transition: 0.3s;
}

.navbar a img:hover{
    opacity: 90%;
}

.link li{
    display: inline-flex;
    flex-wrap: wrap;
}

.link li::after
{
    content: '';
    width: 0%;
    height: 2px;
    margin: auto;
    background: red;
    transition: 0.5s;
}

.link li:hover::after
{
    height: 2px;
    width: 100%;
}

.link a
{
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    width: 150px;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.link a:hover{
    opacity: 85%;
}

.search{
    display: flex;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.text{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.search input{
    width: 600px;
    height: 50px;
    text-align: left;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

.search button{
    width: 80px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    right: 0px;
    border-radius: 50px;
    border: none;
}

.search button:hover{
    color: rgb(0, 110, 255);
}

/* ........header end........ */





































































