@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bg-light: #f5f5fc;
  --bg-dark: #35353c;
  --bg-darker: #15151c;
  --font-body: #55555c;
  --shadow: #c5c5cc;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat", sans-serif;
  
}



 /* cards start */



 .demo_title h1,
 h6 {
   color: var(--bg-darker);
 }
 
 #copyrights {
   position: absolute;
   bottom: 2%;
   right: 2%;
 }
 
 #copyrights a {
   text-decoration: none;
   color: var(--bg-darker);
 }
 
 /* tpn card style */
 .tpn_card {
   background: var(--bg-light);
   padding: 23px;
   border-radius: 27px;
 }
 
 .tpn_card img {
   border-radius: 23px;
   box-shadow: 1px 7px 13px var(--shadow);
 }
 
 .tpn_card h5 {
   color: var(--bg-dark);
 }
 
 .tpn_card p {
   color: var(--font-body);
   font-weight: 400;
   margin-bottom: 24px;
 }
 
 .tpn_card .tpn_btn {
   padding: 13px 27px !important;
   line-height: normal;
   background: var(--bg-dark);
   border-radius: 17px;
   text-decoration: none;
   color: #fff;
   box-shadow: 1px 7px 13px var(--shadow);
   transition: all 0.7s ease;
 }
 
 .tpn_card .tpn_btn:hover {
   background: var(--bg-darker);
   box-shadow: none;
 }
 


 /* cards end */




 /* Slider start */
  
  #caroussel {
    width: 100%;
    height: 650px;
    margin: auto;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #caroussel .arrows i{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  #caroussel:hover .arrows i{
    visibility: visible;
    opacity: 1;
  }
  
  .img-caroussel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: inherit;
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .img-caroussel.active {
    opacity: 1;
  }
  
  .arrows i{
    color: rgb(220, 220, 220);
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  .arrows i:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .fa-arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
  }
  
  .fa-arrow-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40px;
  }
  
  .slider-position .round {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: white solid 1px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.5s;
  }
  
  .slider-position .round.active {
    background-color: white;
  }
  
  .slider-position .round:hover {
    background-color: white;
  }
  
  .slider-position .round:last-child {
    margin: 0;
  }
  
  .slider-position {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .credit {
    background-color: rgba(228, 214, 214, 0.7);
    padding: 10px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 200;
    border-bottom-right-radius: 10px;
  }
  

 /* Slider end */


/* footer start */

footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgb(39,40,41);
  padding: 0px 60px;
  gap: 160px;
}

footer a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#p1{
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-links{
  display: block;
  align-items: baseline;
}


.footer-links li{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-links2 li{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-links3 li{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* footer end */










































