@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    color: black;
}



 /* Navbar start */

.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar{
    display: flex;
    position: sticky;
}

.logo{
    display: flex;
    align-self: center;
    text-decoration: none;
    height: 60px;
    scale: 2.1;
    z-index: 1000;
}

.nav-list{
    display: flex;
    line-height: 60px;
    position: relative;
}

.nav-list li{
    list-style: none;
}

.nav-list a{
    position: relative;
    text-decoration: none;
    padding: 16px 24px;
    letter-spacing: 0.03rem;
    font-size: 18px;
    font-weight: 400;
}

.nav-list a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.nav-list a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.nav-list .dropdown{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    border-radius: 8px;
    background-color: rgba(250, 250, 250, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: opacity 0.4s linear;
}

.nav-list li:hover .dropdown{
    visibility: visible;
    text-align: center;
    opacity: 1;
}

.icon{
    color: rgb(200, 200, 200);
    border: none;
    transition: 0.4s;
}

.nav-list a:hover .icon{
    color: black;
}

.nav-list li:hover .icon{
    color: black;
}

.menu-btn{
    background: url(Images/menu1.png)no-repeat;
    background-size: 50px;
    background-position: center;
    height: 40px;
    width: 50px;
    display: none;
    position: relative;
    transition: all 0.3s;
}

@media (max-width: 980px){
    .header{
        padding: 0px 30px;
        height: 60px;
    }

    .navbar{
      display: none;
    }

    .nav-list{
        display: block;
        justify-content: start;
        width: 100%;
        height: 100vh;
        left: 0;
        position: fixed;
        z-index: 999;
        background-color: rgba(250, 250, 250, 0.8);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .nav-list > li{
        position: relative;
        top: 100px;
        left: 20px;
    }

    .menu-btn{
        display: flex;
        z-index: 999;
        cursor: pointer;
        transition: 0.3s ease;
        align-self: center;
    }

    .menu-btn.active{
        background: url(Images/cross.png)no-repeat;
        z-index: 999;
        background-position: center;
        background-size: 25px;
        transition: 0.3s ease;
    }

    .nav-list .dropdown{
        position: absolute;
        border-radius: 8px;
        background-color: rgba(230, 230, 230, 0.6);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        left: 120px;
        top: 0px;
        visibility: hidden;
        transition: 0.3s linear;
    }

    .nav-list .dropdown li{
        position: relative;
        text-align: center;
    }

    .logo{
        display: flex;
        align-self: center;
        font-size: 26px;
        text-decoration: none;
        font-weight: 700;
        padding: 2px 0px;
        margin-left: 30px;
    }

    .icon{
        color: rgb(190, 190, 190);
        border: none;
        width: 12px;
    }
}

 /* Navbar end */




 /* Slider start */
  
  #caroussel {
    width: 100%;
    height: 650px;
    margin: auto;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #caroussel .arrows i{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  #caroussel:hover .arrows i{
    visibility: visible;
    opacity: 1;
  }
  
  .img-caroussel {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: inherit;
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .img-caroussel.active {
    opacity: 1;
  }
  
  .arrows i{
    color: rgb(220, 220, 220);
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  .arrows i:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .fa-arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
  }
  
  .fa-arrow-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40px;
  }
  
  .slider-position .round {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: white solid 1px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.5s;
  }
  
  .slider-position .round.active {
    background-color: white;
  }
  
  .slider-position .round:hover {
    background-color: white;
  }
  
  .slider-position .round:last-child {
    margin: 0;
  }
  
  .slider-position {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .credit {
    background-color: rgba(228, 214, 214, 0.7);
    padding: 10px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 200;
    border-bottom-right-radius: 10px;
  }
  

 /* Slider end */


/* footer start */

footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgb(39,40,41);
  padding: 0px 60px;
  gap: 160px;
}

footer a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#p1{
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-links{
  display: block;
  align-items: baseline;
}


.footer-links li{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-links2 li{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-links3 li{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* footer end */










































